.home {
  .home__header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .home__content {
    .characters {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;
    }
  }
  .home__buttons {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
  }
}
